{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "array-bracket-spacing": [
            "error",
            "always",
            {
                "objectsInArrays": false,
                "singleValue": false
            }
        ],
        "computed-property-spacing": [
            "error",
            "never"
        ],
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "max-len": [
            "error",
            {
                "code": 80,
                "ignoreUrls": true
            }
        ],
        "no-multi-spaces": [
            "error"
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "semi": [
            "error",
            "always"
        ]
    }
}
