<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/public/styles.css" />
    <title>Test Application</title>
    <script>
        window.__INITIAL_DATA__ = {{{initialData}}};
    </script>
</head>
<body>
    <main id="main">{{{markup}}}</main>
    <script src="/public/client.js"></script>
</body>
</html>
